<div class="container container-class">
  <div class="row">
    <div class="col-6 col-sm-8"></div>

    <div class="register-form col-6 col-sm-4">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Sign Up</h2>
        <div class="form-group">
          <label>FirstName</label>
          <input
            type="text"
            formControlName="firstname"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.firstname.errors && f.firstname.dirty
            }"
          />
          <div
            *ngIf="f.firstname.errors && f.firstname.dirty"
            class="invalid-feedback"
          >
            <div *ngIf="f.firstname.errors.required" class="error">
              FirstName is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>LastName</label>
          <input
            type="text"
            formControlName="lastname"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.lastname.errors && f.lastname.dirty
            }"
          />
          <div
            *ngIf="f.lastname.errors && f.lastname.dirty"
            class="invalid-feedback"
          >
            <div *ngIf="f.lastname.errors.required" class="error">
              LastName is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.username.errors && f.username.dirty
            }"
          />
          <div
            *ngIf="f.username.errors && f.username.dirty"
            class="invalid-feedback"
          >
            <div *ngIf="f.username.errors.required" class="error">
              Username is required
            </div>
            <div *ngIf="f.username.errors.minlength" class="error">
              Username must be at least 6 characters
            </div>
            <div *ngIf="f.username.errors.maxlength" class="error">
              Username must not exceed 20 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.email.errors && f.email.dirty
            }"
          />
          <div *ngIf="f.email.errors && f.email.dirty" class="invalid-feedback">
            <div *ngIf="f.email.errors.required" class="error">
              Email is required
            </div>
            <div *ngIf="f.email.errors.email" class="error">
              Email is invalid
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.password.errors && f.password.dirty
            }"
          />
          <div
            *ngIf="f.password.errors && f.password.dirty"
            class="invalid-feedback"
          >
            <div *ngIf="f.password.errors.required" class="error">
              Password is required
            </div>
            <div *ngIf="f.password.errors.minlength" class="error">
              Password must be at least 6 characters
            </div>
            <div *ngIf="f.password.errors.maxlength" class="error">
              Username must not exceed 40 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Confirm Password</label>
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.confirmPassword.errors && f.confirmPassword.dirty
            }"
          />
          <div
            *ngIf="f.confirmPassword.errors && f.confirmPassword.dirty"
            class="invalid-feedback"
          >
            <div *ngIf="f.confirmPassword.errors.required" class="error">
              Confirm Password is required
            </div>
            <div *ngIf="f.confirmPassword.errors.matching" class="error">
              Confirm Password does not match
            </div>
          </div>
        </div>

        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!form.valid"
          >
            Register
          </button>
          <a routerLink="auth/login" class="btn btn-warning float-right">
            Login
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
