<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img container-class">

      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg"> Sign Up </h2>
          <p class="auth-signup-text text-muted" style="text-align: center;">Enter details to create your account</p>
          <form class="validate-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="alert alert-danger" *ngIf="errorMessage">
              {{errorMessage}}
          </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="firstname" required>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="f.firstname.errors?.required">
                    First name is required
                  </mat-error>
                  <mat-error *ngIf="!f.firstname.errors?.required && f.firstname.errors">
                    First name length is invalid
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lastname" required>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="f.lastname.errors?.required">
                    Last name is required
                  </mat-error>
                  <mat-error *ngIf="!f.lastname.errors?.required && f.lastname.errors">
                    Last name length is invalid
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName="username" required >
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="f.username.errors?.required">
                    Username is required
                  </mat-error>
                  <mat-error *ngIf="!f.username.errors?.required && f.username.errors">
                    Username length is invalid
                  </mat-error>
                 
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" required >
                  <mat-icon matSuffix>mail</mat-icon>
                  <mat-error *ngIf="f.email.errors?.required">
                    Email is required
                  </mat-error>
                  <mat-error *ngIf="!f.email.errors?.required && f.email.errors">
                    Email format is invalid
                  </mat-error>
                </mat-form-field>
                
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="f.password.errors?.required">
                      Password is required
                    </mat-error>
                    <mat-error *ngIf="!f.password.errors?.required && f.password.errors">
                      Password length is invalid
                    </mat-error>

                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput formControlName="confirmPassword" [type]="chide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="chide = !chide">
                    {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="f.confirmPassword.errors?.required">
                      Confirm Password is required
                    </mat-error>
                    <mat-error *ngIf="!f.confirmPassword.errors?.required && f.confirmPassword.errors">
                      Confirm Password does not match
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="flex-sb-m w-full  p-b-20">
              <div>
                <span>Already Registered? <a routerLink="/auth/login" style="color: #0070AD">
                    Login
                  </a></span>
              </div>
            </div>
            <br>
            <div class="container-auth-form-btn">
              <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!form.valid " type="submit">
                Register
              </button>
            </div>
          </form>
          <h6 class="social-login-title">OR</h6>
          <ul class="list-unstyled social-icon mb-0 mt-3">
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
              <i class="fab fa-google"></i>
            </a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded flex-c-m">
              <i class="fab fa-facebook-f"></i>
            </a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
              <i class="fab fa-twitter"></i>
            </a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
              <i class="fab fa-linkedin-in"></i>
            </a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
