p {
  font-family: Lato;
}

#root {
  padding: 30px;
}

.login-form {
  display: flex;
}
form {
  padding-top: 8rem;
}
.container-class {
  background-image: url("../../../../assets/img/transform3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
}
label {
  color: aliceblue;
}
.error {
  color: floralwhite;
}
h2 {
  margin-top: 14px;
  margin-right: 4px;
  text-align: center;
  width: 100%;
  color: aquamarine;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}
