<div class="container">
 <div class="card">
   <div class="col-md-9" style="margin-left: 120px">
       <div class="form-group files">
         <br/>
         <label class="text-center" style="margin-left: 300px;">Import your candidates</label>
           <br/>
         <input type="file" class="form-control-file" (change)="handleFileInput($event)" id="file">
         <!--<small class="form-text text-muted"
         ><b>Import</b> your Candidates</small>-->
       </div>
   </div>

 </div>
</div>
